body {
	background: #FFEEDF;
	
}

.img-bordered {
	border: solid #eeeeee 2px;
}

.jumbotron {
	background: #DFFBFE;
	border: solid #eeeeee 2px;
}
/*Styling for nav pills*/
.nav-pills > li > a:hover {
	background: #DFFBFE;
	border: solid #eeeeee 2px;
}
.nav-pills > li > a {
	background: #FFEEDF;
	border: solid #FFEEDF 2px;
}

/*add border and background to columns on front page*/
.anns-box {
	background: #DFFBFE;
	border: solid #eeeeee 2px;
}

/*Styling for columns of same height*/
.container-xs-height {
	display: table;
	padding-left: 0px;
	padding-right: 0px;
}
.row-xs-height {
	display: table-row;
}
.col-xs-height {
	display: table-cell;
	float: none;
}

/*CSS for scrolling stuff*/

html, body {
	height:100%;
}

.skrollr-desktop body {
	height:100% !important;
}

.parallax-image-wrapper {
	position:fixed;
	left:0;
	width:100%;
	overflow:hidden;
}

.parallax-image-wrapper-50 {
	height:50%;
	top:-50%;
}

.parallax-image-wrapper-100 {
	height:100%;
	top:-100%;
}

.parallax-image {
	display:none;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
}

.parallax-image-50 {
	height:200%;
	top:-50%;
}

.parallax-image-100 {
	height:100%;
	top:0;
}

.parallax-image.skrollable-between {
	display:block;
}

.no-skrollr .parallax-image-wrapper {
	display:none !important;
}

#skrollr-body {
	height:100%;
	overflow:visible;
	position:relative;
}

.gap {
	background:transparent center no-repeat;
	background-size:cover;
}

.skrollr .gap {
	background:transparent !important;
}

.gap-50 {
	height:50%;
}

.gap-100 {
	height:100%;
}

.header, .content {
	padding:1em;

	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

.content-full {
	min-height:100%;
}

/*#done {
	height:100%;
}*/

.centered-header {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/*testing*/
.parallax-image-wrapper-100-top {
	height:50%;
	top:-50%;
}

.parallax-image-100-top {
	height:200%;
	top:-50%;
}

.gap-100-top {
	height:50%;
}

/*style for overlay content in scrolling*/
.annContainer {
	/*display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;*/
	
}

.annContent {
	text-align: right;
	/*to display at bottom of area*/
	/*display: table-cell;
	vertical-align: bottom;*/
}

/*text*/
.italic {
	font-style: italic;
}

.pstory {
	font-size: 25px;
	text-indent: 2em;
	padding-top: 2em;
}

.hstory {
	font-size: 60px;
}

.imgstory {
	float: right;
	clear: right;
}

.filler {
	height: 150px;
	width: 1px;
	float: right;
	clear: right;
}

.fillerwrap {
	float: right;
}


/*style for animated squares on projects page*/
.annSquare, .firstSquare {
	background: red;
	height: 38px;
	width: 38px;
	float: left;
	margin: 1px;
}

.firstSquare {
	clear: left;
}

#displayEntry {
	height: 2em;
}
